<form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">

  <div class="container">
    <label for="initialCredit">Initial Credit:</label>
    <input id="initialCredit" formControlName="initialCredit" type="number" />
    <button type="submit" [disabled]="createAccountForm.invalid">Create New Account</button>


  </div>

  @if(createAccountForm.get('initialCredit')?.invalid && createAccountForm.get('initialCredit')?.touched){
    <p class="warning">Initial Credit is required and must be non-negative.</p>
  }
</form>
